.hero {
  padding-top: 10rem;
  &__content {
    display: flex;
    justify-content: space-between;
    .invitation {
      // padding-top: 1rem;
      // height: 30rem;
      // width: 40rem;
      &__name {
        padding-top: 15rem;
      }
      &__title {
        padding-top: 2rem;
      }
      &__text {
        padding-top: 2rem;
        width: 38rem;
      }
      &__button {
        padding-top: 5rem;
      }
    }
  }
  &__building {
    width: 590px;
    height: 750px;
    box-shadow: -60px 85px 0px -9px #f5f8fa;
  }
}
