.hero  {
  padding-top: 10rem;
  &__content {
    display: flex;
    .invitation {
      &__name {
        padding-top: 15rem;
      }
      &__title {
        padding-top: 1.5rem;
      }
      &__text {
        padding-top: 1.5rem;
        width: 38rem;
      }
      &__button {
        display: flex;
        padding-top: 3.8rem;
        max-width: 100%;
      }
    }
  }
  &__building {
    max-width: 100%;
    height: auto;
    box-shadow: -50px 125px 10px 0 #acb5bb;
  }
}
