.history {
  display: flex;
  padding-top: 100px;
  &__about {
    background: #263640;
    box-shadow: -60px 85px 0px -9px #f5f8fa;
    width: 82%;
    padding: 83px 360px 118px 134px;
  }
  &__name {
    padding-top: 30px;
  }
  &__title * {
    padding-top: 30px;
    width: 490px;
    color: $wh;
  }
  &__text  * {
    color: $wh;
    padding-top: 30px;
    width: 390px;
  }
  &__icon {
    position: relative;
    top: 250px;
    right: 310px;
    width: 500px;
    height: 660px;
  }
  &__line{
    padding-top: 40px;
    width: 80%;
    &:after {
      display: block;
      content: "";
      background-color: #ffffff;
      height: 1px;
      opacity: 0.2;
  }
  }
  &__footer {
    padding-top: 40px;
  }
}
