.nav__body {
  display: flex;
  justify-content: space-between;
  padding-top: 6.5rem;
  nav {
    display: flex;
    align-items: center;
    .nav__link {
      padding: 0 3rem 0 ;
      text-decoration: none;
      @include text-s(Arial, 1.6rem, bold, black, 2.8rem);
      &:hover {
        color: orange;
        border-bottom: 0.2rem solid orange;
      }
    }
  }
}


