
@media screen and (max-width: 590px) {
  .wrapper * {
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around !important;

    &__column {
      padding-top: 50px 0;
    }
    
  }  

}
